<h1>Listing Projects</h1>
<br>
<div class="row">
<div class="col-md-5">
<table id="datatable" style="width:100%">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Username</th>
      <th>Category Name</th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title.rock_title %></td>
        <td><%= project.user.username.rock_title %></td>
        <td><%= project.category.name.rock_title %></td>
        <td><%= link_to 'Show', project %> <%= link_to 'Edit', edit_project_path(project) %> <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<div class="row">
<div class="col-md-5">
<%= link_to 'Create Category', new_category_path %>
<br>
<%= link_to 'Create Project', new_project_path %>
</div>

</div>